<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>周杰伦</string>
		<key>image</key>
		<string>5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>任贤齐</string>
		<key>image</key>
		<string>222</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张韶涵</string>
		<key>image</key>
		<string>333</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张杰</string>
		<key>image</key>
		<string>4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>123</string>
		<key>image</key>
		<string>5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>234</string>
		<key>image</key>
		<string>6</string>
	</dict>
	<dict>
		<key>name</key>
		<string>啥都</string>
		<key>image</key>
		<string>7.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>很舒适</string>
		<key>image</key>
		<string>8.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>不会</string>
		<key>image</key>
		<string>9.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>搜索</string>
		<key>image</key>
		<string>10.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>喂</string>
		<key>image</key>
		<string>11.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我</string>
		<key>image</key>
		<string>12</string>
	</dict>
</array>
</plist>
